body {
	padding: 8px;
	margin: 0 0 auto;
}

blockquote blockquote {
	margin-left: 0;
}

form {
	margin-bottom: 0;
}

hr {
	clear: both;
	border: 0 none;
	height: 1px;
}

.postarea {
	text-align: center;
}

.postarea table {
	margin: 0 auto;
	text-align: left;
}

.postblock {
	vertical-align: top;
	padding: 3px;
}

.aa {
	white-space: pre;
	text-align: left;
	font-family: IPAMonaPGothic, Mona, 'MS PGothic', YOzFontAA97 !important;
}

.thumb {
	border: none;
	float: left;
	margin: 4px 20px;
}

.nothumb {
	float: left;
	background: #eee;
	border: 2px dashed #aaa;
	text-align: center;
	margin: 2px 20px;
	padding: 1em 0.5em 1em 0.5em;
}

.message {
	margin: 1em 25px;
}

.reply .message {
	margin-bottom: 5px;
}

.reflink a {
	color: inherit;
	text-decoration: none;
}

.reflink a:hover {
	color: #800000;
}

.reply .filesize {
	margin-left: 20px;
}

.hoverpost {
	display: block;
	clear: both;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, .15);
	border-right-color: rgba(0, 0, 0, .5);
	border-bottom-color: rgba(0, 0, 0, .5);
}

.spoiler {
	text-decoration: none;
	color: transparent;
	text-shadow: 0 0 10px #000000;
}

.spoiler:hover {
	color: inherit;
	text-shadow: none;
}

.userdelete {
	float: right;
	text-align: center;
	white-space: nowrap;
}

.doubledash {
	vertical-align: top;
	clear: both;
	float: left;
	font-size: 1.75em;
}

.moderator {
	color: #FF0000;
}

.managebutton {
	font-size: 15px;
	height: 28px;
	margin: 0.2em;
}

.banmessage {
	color: red;
	font-weight: bold;
}

.footer {
	clear: both;
	text-align: center;
}

.rules {
	padding-left: 5px;
}

.rules ul {
	margin: 0;
	padding-left: 0;
}

.floatpost {
	float: right;
	clear: both;
}

.catalogpost {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	text-overflow: ellipsis;
	min-width: 100px;
	padding: 0px 3px 3px;
}

.login {
	text-align: center;
}

.adminbar {
	text-align: right;
	clear: both;
	float: right;
}

.adminbar a:link, .adminbar a:visited, .adminbar a:active, .adminbar a:hover {
	text-decoration: none;
}

#switchStylesheet {
	margin-left: 5px;
}

#newreplies {
	margin: 5px 0 0 2px;
	font-weight: bold;
}
