body {
	margin: 0;
	padding: 8px;
	margin-bottom: auto;
}

blockquote blockquote {
	margin-left: 0em;
}

form {
	margin-bottom: 0px;
}

.postarea {
	text-align: center;
}

.postarea table {
	margin: 0px auto;
	text-align: left;
}

.aa {
  white-space: pre;
  text-align: left;
  font-family: IPAMonaPGothic, Mona, 'MS PGothic', YOzFontAA97 !important;
}

.thumb {
	border: none;
	float: left;
	margin: 2px 20px;
}

.nothumb {
	float: left;
	background: #eee;
	border: 2px dashed #aaa;
	text-align: center;
	margin: 2px 20px;
	padding: 1em 0.5em 1em 0.5em;
}

.reply blockquote, blockquote :last-child {
	margin-bottom: 0em;
}

.reflink a {
	color: inherit;
	text-decoration: none;
}

.reflink a:hover{
	color: #800000;
}

.reply .filesize {
	margin-left: 20px;
}

.userdelete {
	float: right;
	text-align: center;
	white-space: nowrap;
}

.doubledash {
 	vertical-align: top;
	clear: both;
	float: left;
	font-size: 1.75em;
}

.moderator {
	color: #FF0000;
}

.managebutton {
	font-size: 15px;
	height: 28px;
	margin: 0.2em;
}

.footer {
	clear: both;
	text-align:center;
}

.rules ul {
	margin: 0;
	padding-left: 0;
}

.floatpost {
	float: right;
	clear: both;
}

.login {
	text-align: center;
}