DirectoryIndex index.html
AddCharset UTF-8 .html
AddCharset UTF-8 .php

<IfModule mod_headers.c>
<Files *.html>
Header add Pragma "no-cache"
Header add Cache-Control "no-cache"
Header unset Vary
</Files>
</IfModule>